@media screen and (max-width: 420px) {
  .section__second {
    &_content-box {
      margin: -100px 0;
      padding: 0 10px 130px;
      &_title {
        font-size: 32px;

        &_plus {
          margin-left: 153px;
        }
      }

      &_description {
        margin: 5px 0;
      }

      &_available-colors {
        font-size: 32px;
        margin: -13px 0 0;
      }

      &_find-color {
        margin: 0 14px 10px;
      }
      &_price{
        font-size: 32px;
      }
      &_action-button{
        padding: 10px 35px;
        margin-left: 15px;
      }
    }

    &_image {
      &_block {
        &_wrapper img {
          margin: 100px 0;
        }
      }
    }
  }
  .section__third{
    &_content-box{
      padding: 120px 0 30px;
    &_description{
      margin-bottom: 10px;
    }
      &_title{
        font-size: 32px;
        margin: 0;
      }
      &_action-wrapper{
        align-items: center;
      }
      &_action-button{
        margin-left: 15px;
      }
      &_gift{
        margin-top: 20px;
      }
    }
  }
  .footer {
    .row {
      justify-content: flex-start;

      .col:first-child {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        margin: 0;
      }
      .col {
        width: 100%;
        padding: 0 30px;
      }
    }
  }
}

