@media screen and (max-width: 420px) {
  .section__first {
    .overlay-center {
      .title-slider {
        font-size: 17px;
      }

      .btn-black {
        padding: 6px 25px;
        font-size: 10px;
      }
    }
  }
  .section-three {
    .container{
      padding: 50px 20px;
    .collection__wrapper {
      .product {
        .grid-container {
          .item-product {
            column-gap: 0;
          }
        }
        }
      }
    }
  }
}

