.menu-nav {
  border-bottom: #5f5f5f;
  position: relative;
  transition: .3s ease-in-out;

  &.scrolled {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 4000;
    top: -100%;

    .container {
      .menu-nav {
        &__logo {
          &_wrapper {
            .black-img {
              display: none;
            }

            .white-img {
              display: block;
              width: 62px;
            }
          }
        }
      }

      .nav-bar {
        height: 60px;

        .icons-wrapper {
          display: none;
        }

        .menu__link {
          color: $white;
        }
      }
    }
  }

  &.fixed {
    top: 0;
    background-color: $black;
    color: $white;
  }

  .mobile-menu {
    display: none;
  }

  .container {
    padding: 0 40px;

    .menu-nav {
      &__logo {
        &_wrapper {
          .black-img, .white-img {
            width: 135px;
          }

          .white-img {
            display: none;
          }
        }
      }

    }

    .nav-bar {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 90px;


      .menu {
        &__list {
          padding: 0;
          display: flex;
          justify-content: space-around;
          font-size: 12px;
          line-height: 23px;
          text-transform: uppercase;
          font-weight: 400;
          letter-spacing: 2.4px;
          font-family: 'Lato', sans-serif;
          margin: 0;
          cursor: pointer;
        }

        &__item {
          position: relative;
          list-style: none;
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 23px 0;
          margin: 0;
          white-space: nowrap;
          transition: .2s ease-in-out;

          ul, .full-width-menu {
            display: block;
            visibility: hidden;
            opacity: 0;
            position: absolute;
            background-color: black;
            color: white;
            margin: 0;
            padding: 23px 0;
            top: 100%;
            z-index: 10000;
            text-transform: none;
            list-style: none;
            min-width: 210px;
            transition: all .3s ease-in-out;

            & > li {
              padding-left: 25px;
              padding-right: 25px;
            }
          }


          & > ul {

            li {
              display: block;
              white-space: nowrap;
              cursor: pointer;
              position: relative;

              .submenu-arrow {
                position: absolute;
                right: 20px;
                top: 5px;
              }

              a, a:visited {
                text-decoration: none;
                font-family: "Cormorant Upright", serif;
                font-weight: 600;
                font-size: 16px;
                line-height: 26px;
                color: $menu-color;
                width: 100%;
                display: block;
              }

              & > ul {
                left: 100%;
                top: -21px;
              }

              &:hover {
                & > ul {
                  visibility: visible;
                  opacity: 1;
                }
              }
            }
          }

          &:hover > ul, &:hover > .full-width-menu {
            visibility: visible;
            opacity: 1;
          }
        }

        &__link {
          color: $black;
          text-decoration: none;
          position: relative;
          transition: ease-in-out .2s;

          &:focus, &:active {
            outline: none;
          }

          &::before {
            content: '';
            position: absolute;
            width: 0;
            border-bottom: 2px solid;
            bottom: -3px;
            transition: ease-in-out .2s;
          }

          &:hover:before {
            width: 100%;
          }
        }

      }

      .icons-wrapper {
        display: grid;
        grid-template-columns: 1fr 0fr;
        column-gap: 60px;

        .burger-menu {
          cursor: pointer;

          &:hover svg > rect {
            animation: menu-animation .6s forwards;
          }

          & svg > rect:nth-child(2) {
            animation-delay: 150ms;
          }

          & svg > rect:nth-child(3) {
            animation-delay: 250ms;
          }
        }

        .icons-inner {
          display: flex;
          align-items: center;

          .menu__icon {
            font-family: 'Cormorant Upright', serif;
            display: flex;
            justify-content: space-between;
            cursor: pointer;
            margin: 0 10px;


            & svg {
              width: 20px;
              display: block;
              &.shopping-bag-icon{
                position: relative;
              }
            }


            &:hover svg {
              fill: #DD5656;
            }

            &_text {
              margin: 0 10px;
            }
            .quantity-of-product{
              position: absolute;
              top: 40px;
              right: 85px;
            }
          }
        }
      }
    }

    @keyframes menu-animation {
      0% {
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
        -webkit-transform-origin: 100% 0;
        transform-origin: 100% 0;
      }
      33% {
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transform-origin: 100% 0;
        transform-origin: 100% 0;
      }
      40% {
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
      }
      100% {
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
      }
    }
  }

  .search-form {
    display: none;

    form {
      width: 100%;
      @include flex-center;
      @include position-absolute-full-size;
      background-color: #fff;
      justify-content: space-between;
      padding: 0 54px;

      input {
        width: 90%;
        font-family: Cormorant, serif;
        font-size: 22px;
        font-style: italic;
        font-weight: 500;
        line-height: 30px;
        border: none
      }
    }
  }


  .full-width-menu-item {
    display: none;
    width: 100%;
    background-color: $black;
    color: $menu-color;
    font-family: "Cormorant Upright", serif;
    font-weight: 400;

    .inner {
      max-width: 1300px;
      margin: 0 auto;
      padding: 0 20px;

      .grid-container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        padding: 25px 0;

        .title {
          font-size: 22px;
          font-style: italic;
          margin-bottom: 13px;
        }

        ul {
          padding: 0;
          margin: 0;
          list-style: none;

          li {
            font-size: 17px;
            margin: 10px 0;

            a {
              color: $menu-color;
            }
          }
        }
      }
    }
  }
}