
* {
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

body, html {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  width: 100%;
  overflow-x: hidden;
}

.pink {
  background-color: $pink;
}

.white {
  background-color: $white;
}

.black {
  background-color: $black;
}

header {
  background-color: #0000003b;
  height: 78px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;

  &.scrolled {
    background-color: #2b2835a6;
  }

  .menu {
    display: flex;
    height: 78px;
    position: relative;
    align-items: center;
    justify-content: space-between;

    &__logo {
      width: 50px;
      display: flex;
      flex-direction: column;
      align-items: center;

      & svg {
        align-self: center;
      }

    }

    &__list {
      list-style: none;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      padding-left: 0;
    }

    &__item {
      margin: 0 15px;
      color: $white;
      text-align: center;
      font-style: normal;
      font-weight: 500;
      font-size: 15px;
      line-height: 18px;
      letter-spacing: 1.90909px;
      text-transform: uppercase;

      &__mobile {
        &__burger {
          display: none;
        }
      }
    }

    &__link {
      color: $white;
      text-decoration: none;
      position: relative;
      transition: ease-in-out .2s;

      &:focus, &:active {
        outline: none;
      }

      &::before {
        content: '';
        position: absolute;
        width: 0;
        border-bottom: 2px solid $yellow;
        bottom: -3px;
        transition: ease-in-out .2s;
      }

      &:hover {
        color: $yellow;
      }

      &:hover:before {
        width: 100%;
      }


      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
      }
    }


    .btn__holder {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;


      &_item:not(:first-child) {
        margin-left: 45px;
      }

      .icon-link svg {
        fill: $white;

        &:hover {
          fill: #FFC700;
        }
      }

      &_search {
        height: 25px;
        width: 25px;
      }

      &_user {
        height: 27px;
        width: 27px;
      }

      &_bucket {
        height: 25px;
        width: 27px;
      }
    }
  }

  .mobile-menu {
    display: none;

    &.opened {
      display: block;
      position: fixed;
      height: 100vh;
      width: 200px;
      right: 0;
      background-color: #ffffff;
      z-index: 1000;
      top: 0;
      box-shadow: -2px -2px 9px 0 #8a87879e;
    }

    .close-button {
      width: 20px;
      display: block;
      margin: 10px 10px 10px auto;
    }

    hr {
      opacity: .2;
    }

    &__list {
      padding: 0;
    }

    .menu__item {
      display: block;
      text-align: left;
      margin-bottom: 30px;
    }

    .menu__link {
      color: $black;
    }
  }
}

.container {
  margin-right: auto;
  margin-left: auto;
  max-width: 1250px;
}


.section__first {
  background: $colorDescription;

  & .container {
    display: flex;
  }

  &_image_block {
    background-size: contain;
    margin-bottom: -151px;
    display: flex;
    align-items: stretch;
    width: 50%;
    background-repeat: no-repeat;

    &_wrapper {
      & img {
        margin-left: -11%;
      }
    }
  }

  &_content-box {
    @include content-box;
    padding-top: 200px;
    padding-left: 30px;

    &_inner {
      max-width: 508px;
    }

    &_description {
      @include description;
      color: $white;
    }

    &_title {
      @include title;
      color: $white;
      margin: 13px 0 20px;
    }

    &_action-wrapper {
      display: flex;
      padding-top: 20px;
    }

    &_price {
      @include price;
      color: $white;
      padding-right: 36px;
    }

    &_action-button {
      background-color: $yellow;
      @include action-button($black, $white);
      color: $black;
    }

    &_gift {
      @include gift;
      color: $yellow;
      margin: 11px 0;

    }
  }
}

.section__second {
  .container {
    display: flex;
  }

  &_content-box {
    @include content-box;
    padding-top: 225px;

    &_inner {
      max-width: 508px;
    }

    &_description {
      @include description;
      color: $colorDescription;
      margin: 10px -1px;

    }

    &_title {
      @include title;
      margin: 5px 0;
      color: $colorDescription;
      position: relative;

      &_plus {
        position: absolute;
        margin-left: 187px;
        margin-top: -59px;
      }
    }


    &_available-colors {
      @extend %font;
      font-size: 40px;
      line-height: 55px;
      color: $colorDescription;
      margin: 23px 0 0;
    }

    &_find-color {
      @extend %font;
      font-size: 16px;
      line-height: 1;
      color: $colorDescription;
      margin: 11px 11px 15px;
    }

    &_color-button {
      & .color-wrapper {
        display: flex;
        justify-content: flex-start;
        padding: 0;
        margin: 0;

        & li {
          list-style: none;
          border-radius: 50%;
          width: 46px;
          height: 46px;
          border: 1px solid transparent;
          padding: 5px;
          margin-left: 7px;
          cursor: pointer;

          &.active {
            border: 1px solid rgba(0, 0, 0, 0.77);

          }

          & .inner {
            width: 100%;
            height: 100%;
            border-radius: 50%;
            border: 1px solid #EAEAEA;
            box-sizing: border-box;
            box-shadow: 0 2px 1px rgba(0, 0, 0, 0.135817);
          }

        }
      }
    }

    &_action-wrapper {
      display: flex;
      padding-top: 52px;
    }

    &_price {
      @include price;
      color: $black;
      margin: -4px 3px;
    }

    &_action-button {
      @include action-button($black, $yellow);
      color: $white;
      background: $black;
      margin-left: 41px;
    }

    &_gift {
      @include gift;
      color: $black;
      mix-blend-mode: normal;
      opacity: 0.52;
      margin: 14px 0;
    }
  }
}


.section__third {
  background: url("/img/bg-powerbeats.png") no-repeat #FFC700;
  background-size: cover;

  & .container {
    display: flex;
  }

  &_image_block {
    background-size: cover;
    margin-bottom: -151px;
    display: flex;
    align-items: stretch;
    width: 50%;
    background-repeat: no-repeat;

    &_wrapper {
      & img {
        margin-left: -11%;
      }
    }
  }

  &_content-box {
    @include content-box;
    padding-top: 200px;
    padding-left: 30px;

    &_inner {
      max-width: 508px;
    }

    &_description {
      @include description;
      color: $colorDescription;
      margin-bottom: 23px;

    }

    &_title {
      @include title;
      text-transform: uppercase;
      color: $colorDescription;
      margin: 0 0 13px;
    }

    &_title-description {
      @include titleDescription;
      margin-bottom: 75px;
    }

    &_action-wrapper {
      display: flex;
    }

    &_price {
      @include price;
    }

    &_action-button {
      @include action-button($black, $white);
      color: $white;
      background: $black;
      margin-left: 41px;
      border-color: $black;
    }

    &_gift {
      @include gift;
      color: $white;
      margin-top: 9px;

    }
  }
}

.section__fourth {

  background: #F4F4F4;

  & .container {
    display: flex;
  }

  &_image_block {
    margin: 0;
    display: flex;
    width: 50%;
    background-repeat: no-repeat;

    &_wrapper {
      & img {
        margin-left: -11%;
      }
    }
  }

  &_content-box {
    @include content-box;
    padding-top: 200px;
    padding-left: 30px;

    &_inner {
      max-width: 508px;
    }

    &_description {
      @include description;
      color: $colorDescription;
      margin: 0;

    }

    &_title {
      @include title;
      color: #2B2835;
      margin: 0 0 13px;

      &_x {
        margin-left: 116px;
        margin-top: -55px;
        font-size: 31px;
      }
    }

    &_title-description {
      @include titleDescription;
      margin-top: 28px;
      padding-bottom: 65px;
    }

    &_action-wrapper {
      display: flex;
    }

    &_price {
      @include price;
      color: $black;
    }

    &_action-button {
      @include action-button;
      color: $white;
      background: $black;
      margin-left: 35px;
      border: none;
    }
  }
}

.section__fifth {
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 20px;
  }

  & .card {
    padding: 60px 0;
    width: 31.3%;
    max-width: 393px;
    min-width: 300px;

    &__block {
      padding-top: 350px;
      position: relative;

      &_img {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        padding: 60px 70px 10px;
        z-index: -1;
        width: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: center;

        //box-shadow: inset 0 -228px 146px -146px #ffffff;
        &::after {
          content: "";
          background: linear-gradient(to top, #ffffff91 0%, rgba(255, 255, 255, 0) 40%);
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          bottom: 0;
          right: 0;
          left: 0;
        }

        & img {
          width: 100%;
          max-width: 100%;
          max-height: 100%;
          text-align: center;
        }
      }

      &_title {
        @include title;
        color: #2B2835;
      }

      &_description {
        @include description;
        color: #030303;
        margin: 14px 0 21px;
      }

      &_action-wrapper {
        display: flex;
        align-items: center;
      }

      &_price {
        @include price;
        color: #9D8220;
      }

      &_button {
        @include action-button;
        color: $white;
        padding: 13px 30px 13px 30px;
        background: $black;
        margin-left: 21px;
      }
    }
  }
}

.form-section {
  & .container {
    & .section__six {
      margin: 51px 0;
      text-align: center;

      &_title {
        font-style: normal;
        font-weight: bold;
        font-size: 50px;
        line-height: 55px;
        color: $colorDescription;
        margin: 0;
      }

      &_description {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;
        color: #030303;
        margin: 17px 0 19px;
      }

      &_input {

        &_email {
          margin-left: auto;
          display: block;
          margin-right: auto;
          width: 507px;
          height: 41px;
          border: 1px solid #BFBFBF;
          box-sizing: border-box;
          border-radius: 18px;
          padding: 0 22px;
        }
      }

      &_submit-button {
        @include action-button($white, $black);
        display: block;
        padding: 0;
        text-transform: uppercase;
        color: $black;
        width: 507px;
        height: 36px;
        background: $yellow;
        margin: 19px auto;
        cursor: pointer;
      }
    }
  }
}

.footer {
  background-color: #2B2835;

  &__logo {
    width: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;

    & svg {
      align-self: center;
    }
  }

  .row {
    display: flex;
    justify-content: space-between;
    padding: 25px;

    .col {
      .title {
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 31px;
        color: $white;
      }

      .nav {
        &__list {
          padding: 0;
        }

        &__list li {
          font-style: normal;
          font-weight: 500;
          font-size: 13px;
          color: $white;
          list-style: none;
          padding: 0;
          margin-bottom: 8px;
        }
      }

      .social-wrapper {
        display: flex;
        justify-content: space-between;
        max-width: 170px;

        &__item {
          margin-right: 10px;

          .icon-link {
            @include footer-icon;
          }
        }
      }
    }
  }


  .copyright {
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: $white;
    opacity: 0.31;
    display: flex;
    justify-content: center;
    padding: 14px;
  }
}
