.section-fourth {
  .container {
    padding: 125px 120px 70px;
    margin: 0 auto;
    max-width: 1300px;
    .slider-box {
      .owl-nav {
        position: absolute;
        transform: translate(0, 50%);
        top: 30%;
        right: 15px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        z-index: -1;
        .owl-prev {
          background-color: transparent;
          margin-left: -10px;

          img {
            position: relative;
            transition: .3s ease-in-out;
          }

          &:hover img {
            transform: translateX(-10px);
          }
        }

        .owl-next {
          background-color: transparent;
          margin-right: -40px;

          img {
            position: relative;
            transition: .3s ease-in-out;
          }

          &:hover img {
            transform: translateX(10px);
          }
        }

      }

      .title-area {
        text-align: center;

        &__shadow-title {
          @include shadow-title;
        }

        &__main-title {
          @include main-title;
        }

        &__description {
          @include description;
        }
      }

      .text-area {
        &__wrapper {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          font-family: Lato, sans-serif;
        }

        &__title {
          @include title-of-product;
        }

        &__link {
          @include link-of-product;
        }

        &__description {
          @include description-of-product;
        }

        &__price {
          @include price-of-product;
        }

        &__rate {
          display: flex;

          @include rate-of-product;

          .star {
            width: 15px;

            &:hover {
              fill: #a23636bf;
            }
          }
        }
      }


    }
  }
}