@media screen and (max-width: 992px) {
  header {
    background-color: transparent;

    .menu {
      &__item {
        display: none;

        &__mobile {
          display: block;

          &__burger {
            display: block;
            width: 40px;
            height: 34px;

            &__element {
              display: flex;
              flex-direction: column;
              flex-wrap: wrap;
              height: 100%;
              cursor: pointer;

              & span {
                width: 100%;
                display: block;
                border-bottom: 3px solid $white;

                &:nth-child(2) {
                  margin-top: auto;
                  margin-bottom: auto;
                }
              }
            }
          }
        }
      }
    }
  }
  .section__first {
    background-color: transparent;

    & .container {
      flex-wrap: wrap;
    }

    &_image_block {
      width: 100%;
      background: #2B2835;
      margin-bottom: 0;

      &_wrapper {
        margin-bottom: -150px;

        & img {
          margin-left: 0;
          max-width: 100%;
          width: 100%;
        }
      }
    }

    &_content-box {
      width: 100%;

      &_description {

        color: $black;
      }

      &_title {
        color: $black;
      }

      &_action-wrapper {
        align-items: center;
      }

      &_price {
        color: $black;
      }

      &_action-button {
        //@include action-button();
        color: $black;
      }

      &_gift {
        color: $black;
      }
    }
  }

  .section__second {
    .container {
      flex-direction: column-reverse;
    }

    &_content-box {
      padding-top: 0;
      width: 100%;
      margin: -220px 0;
      padding-bottom: 300px;
    }

    &_image {
      &_block {
        &_wrapper {
          margin: 0 100px;

          img {
            max-width: 100%;
            width: 100%;
          }
        }
      }
    }
  }

  .section__third {
    .container {
      flex-direction: column;
    }

    &_image {
      &_block {
        &_wrapper {
          img {
            margin: -80px 110px;
          }
        }
      }
    }

    &_content-box {
      width: 100%;
      padding: 100px 0 30px;

      &_title-description {
        margin-bottom: 15px;
      }
    }
  }

  .section__fourth {
    .container {
      flex-direction: column-reverse;
    }

    &_content-box {
      width: 100%;
      padding: 0 0 55px;
      margin: -32px;

      &_title-description {
        padding-bottom: 15px;
      }
    }
  }

  .section__fifth {
    .container {
      padding: 50px 60px;
      margin: -90px 0;

      .card {
        &__block {
          padding: 390px 0 0;

          &_img {
            padding: 0;

            &_beats2 {

              width: auto;
              margin: -50px -60px;

            }
          }

          &_button {
            padding: 13px 25px 13px 25px;
          }
        }
      }
    }
  }
  .footer {
    .row {
      flex-wrap: wrap;
      justify-content: space-around;

      .col {
        width: 25%;
        padding: 0 16px;
      }

      .col:first-child {
        width: 70px;
      }
    }
  }
}