@media screen and (max-width: 640px) {
  .section__second {
    &_content-box {
      margin: 0 0 80px;
      padding-bottom: 0;
    }

    &_image {
      &_block {
        &_wrapper img {
          width: 100%;
          margin: 0;
        }
      }
    }
  }
  .section__third {
    .container {
      padding: 150px 0 50px;
    }

    &_image {
      &_block {
        margin: 0;

        &_wrapper img {
          margin: -200px 0px;
          width: 200%;

        }
      }
    }
  }
  .section__fourth {
    padding: 100px 0 150px;
  }
  .section__fifth{
    padding: 100px 0;
  }
  .section__six{
      padding: 100px 0;
  }
  .form-section {
    & .container {
      & .section__six {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        &_input {

          &_email {
            width: 100%;

          }
        }

        &_submit-button {
          width: 100%;
        }
      }
    }
  }

  .footer {
    .row {
      .col {
        width: 50%;
      }
    }
  }
}

